.graph {
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

button:hover {
  background-color: #404040;
}

button {
  background-color: #202020;
  color: #F0F0FF;
  border: 1px solid #F0F0FF;
  margin: 10px;
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
}

table{
  width: 100%;
}

.github-icon{
  display: inline-block;
  margin: 4px;
  width: 32px;
  height: 32px;
  background-color: #000000;
}

nav button {
  display: inline-block;
  vertical-align: top;
}

.button {
  padding: 3px;
  margin: 4px;
  border: 1px solid #F0F0FF;
  border-radius: 5px;
  margin-right: 8px;
  cursor: pointer;
}

.focus-button:hover {
  background-color: rgb(65, 65, 173);
}

.focus-button {
  background-color: darkblue;
}

.del-button:hover {
  background-color: rgb(168, 37, 37);
}

.del-button {
  background-color: darkred;
}

table thead tr {
  background-color: #101010;
}

table tbody tr {
  background-color: #202020;
}

table thead tr th {
  padding: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
}

table tbody tr td {
  padding: 10px;
}

thead{
  font-weight: bold;
}

ul {
  list-style: none;
  padding: 0;
}

html{
  background-color: black;
  color: #F0F0FF;
}

.column-sort-btn {
  border-radius: 20%;
  min-width: 25px;
  min-height: 25px;
  padding: 0px;
  margin: 0px;
  margin-left: 5px;
}

.hidden{
  display: none;
}

.text-input {
  background: #303030;
  color: white;
  padding: 6px;
  border: none;
  border-bottom: 1px solid white;
  border-radius: 3px;
  margin: 3px;
}